<% cancel_dishes.each do |dish| %>
  <li class="list-group-item list-group-item-danger" type="order_dishes"
    order-id="<%= dish.order_id %>" id="<%= dish.id %>">
    <%= render "data", food: dish %>
  </li>
<% end %>
