<% needing_combos.each do |combo| %>
  <li class="list-group-item list-group-item-warning" type="order_combos"
    order-id="<%= combo.order_id %>" id="<%= combo.id %>">
    <%= render "data", food: combo %>
    <%= render "time_counter", type: combo %>
  </li>
<% end %>
