<section class="section admin-site">
  <br><br>
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <h1><%= t ".title" %></h1>
    <div class="bloc col-xs-12">
      <div class="form-customer">
        <%= render "customer", customers: @customers %>
      </div>
    </div>
  </div>
</section>
