<td class="text-center order_status order_status_<%= order.id %>"
  data-id="<%= order.id %>">
  <% case order.status %>
  <% when "uncheck"%>
    <span class="label-red animated bounce">
  <% when "declined"%>
    <span class="label-red">
  <% when "approved" %>
    <span class="label-green">
  <% when "serving"%>
    <span class="label-blue animated bounce">
  <% when "done" %>
    <span class="label-done">
  <% end %><%= order.status %></span>
</td>
