<section class="section admin-site">
  <br><br>
  <div class="col-sm-12 col-xs-12 show-order">
    <h1><%= t ".title" %></h1>
    <br>
    <div class="bloc col-xs-12" id="show-order">
      <div id="orders-index" class="search-form col-xs-12">
        <%= render "order", order: @orders_support,
          tables: @orders_support.tables %>
      </div>
    </div>
  </div>
</section>
