<section class="section admin-site">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <h1><%= t ".title" %></h1>
    <div class="bloc col-xs-12">
      <div class="form-membership-coupon">
        <%= render "membership_coupon", membership_coupons: @membership_coupons %>
      </div>
    </div>
  </div>
</section>
