<div>
  <div id="income" class="tab-pane fade in active">
    <div id="income-chart" class="chart"></div>
  </div>
  <div id="dish" class="tab-pane fade in active">
    <button id='fetch-dish-button' class="btn btn-primary"
      type="button" name="button">
      <%= t "dashboard.fetch" %>
    </button>
    <div id="dish-chart" class="chart"></div>
  </div>
  <div id="combo" class="tab-pane fade in active">
    <button id='fetch-combo-button' class="btn btn-primary"
      type="button" name="button">
      <%= t "dashboard.fetch" %>
    </button>
    <div id="combo-chart" class="chart"></div>
  </div>
  <div id="timein" class="tab-pane fade in active">
    <button id='fetch-timein-button' class="btn btn-primary"
      type="button" name="button">
      <%= t "dashboard.fetch" %>
    </button>
    <div id="timein-chart" class="chart"></div>
  </div>
</div>
